.done {
    text-decoration: line-through;
    background-color: green;
    color: white;
    padding: 5px 20px;

}

.under span {
    text-decoration: underline;
    color: white;
    padding: 5px 20px;
}